<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attempt_3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.divident_tracker.UpdateActivity"
            android:parentActivityName="com.example.divident_tracker.MainActivity" />
        <activity
            android:name="com.example.divident_tracker.AddActivity"
            android:label="Add Stock"
            android:parentActivityName="com.example.divident_tracker.MainActivity" />
        <activity
            android:name="com.example.divident_tracker.NewsActivity"
            android:label="News"
            android:parentActivityName="com.example.divident_tracker.MainActivity" />
        <activity
            android:name="com.example.divident_tracker.DataActivity"
            android:label="Portfolio Data"
            android:parentActivityName="com.example.divident_tracker.MainActivity" />
        <activity
            android:name="com.example.divident_tracker.MainActivity"
            android:label="Dividend Tracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>